
<header>
<ul>
  <li><a [routerLink]="['/sobremi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
  <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
  <li id="logo"><a href="#">JCV</a></li>
  <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear</a></li>
  <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>

</ul>
</header>
<section id="content"><router-outlet></router-outlet>
</section>
<footer>
  Master en Javascript
</footer>

